# I´m trying to parse this small json file data (sample.txt) into a flatten data frame, but having trouble.

# Here's what I tried so far:

In [1]:
#libraries
import json
import pandas as pd

#normalize method
from pandas.io.json import json_normalize as jnorm

In [2]:
#open json file as python list
with open('sample.txt') as dataFile:
    dataset = json.load(dataFile)

In [3]:
#first try to flatten all
df0 = pd.DataFrame(dataset)
df0

,complemento,dets,emit,ide,infAdic,total,versaoDocumento
0,{'valorTotal': 24.9},"[{'nItem': '1', 'prod': {'indTot': '1', 'qCom'...","{'cnpj': '01.234.567/0001-89', 'enderEmit': {'...",{'dhEmi': {'$date': '2016-01-05T12:01:54.000Z'...,{'infCpl': 'Mesa 2'},"{'icmsTot': {'vDesc': 0.0, 'vFrete': 0.0, 'vOu...",1.0
1,{'valorTotal': 92.53},"[{'nItem': '1', 'prod': {'indTot': '1', 'qCom'...","{'cnpj': '01.234.567/0001-89', 'enderEmit': {'...",{'dhEmi': {'$date': '2016-01-05T12:03:52.000Z'...,{'infCpl': 'Mesa 1'},"{'icmsTot': {'vDesc': 0.0, 'vFrete': 0.0, 'vOu...",1.0
2,{'valorTotal': 57.86},"[{'nItem': '1', 'prod': {'indTot': '1', 'qCom'...","{'cnpj': '01.234.567/0001-89', 'enderEmit': {'...",{'dhEmi': {'$date': '2016-01-05T12:16:40.000Z'...,{'infCpl': 'Mesa 5'},"{'icmsTot': {'vDesc': 0.0, 'vFrete': 0.0, 'vOu...",1.0
3,{'valorTotal': 34.97},"[{'nItem': '1', 'prod': {'indTot': '1', 'qCom'...","{'cnpj': '01.234.567/0001-89', 'enderEmit': {'...",{'dhEmi': {'$date': '2016-01-05T12:17:50.000Z'...,{'infCpl': 'Mesa 3'},"{'icmsTot': {'vDesc': 0.0, 'vFrete': 0.0, 'vOu...",1.0
4,{'valorTotal': 46.23},"[{'nItem': '1', 'prod': {'indTot': '1', 'qCom'...","{'cnpj': '01.234.567/0001-89', 'enderEmit': {'...",{'dhEmi': {'$date': '2016-01-05T12:18:35.000Z'...,{'infCpl': 'Mesa 4'},"{'icmsTot': {'vDesc': 0.0, 'vFrete': 0.0, 'vOu...",1.0
5,{'valorTotal': 32.76},"[{'nItem': '1', 'prod': {'indTot': '1', 'qCom'...","{'cnpj': '01.234.567/0001-89', 'enderEmit': {'...",{'dhEmi': {'$date': '2016-01-05T12:20:00.000Z'...,{'infCpl': 'Mesa 6'},"{'icmsTot': {'vDesc': 0.0, 'vFrete': 0.0, 'vOu...",1.0
6,{'valorTotal': 57.11},"[{'nItem': '1', 'prod': {'indTot': '1', 'qCom'...","{'cnpj': '01.234.567/0001-89', 'enderEmit': {'...",{'dhEmi': {'$date': '2016-01-05T12:22:16.000Z'...,{'infCpl': 'Mesa 7'},"{'icmsTot': {'vDesc': 0.0, 'vFrete': 0.0, 'vOu...",1.0

**Got a complete data frame but all nested.**

In [4]:
#second try to flatten all
df1 = jnorm(dataset)
df1

,complemento.valorTotal,dets,emit.cnpj,emit.enderEmit.fone,emit.enderEmit.uf,emit.enderEmit.xBairro,emit.enderEmit.xLgr,emit.enderEmit.xMun,emit.enderEmit.xPais,emit.xFant,...,total.icmsTot.vbcst,total.icmsTot.vcofins,total.icmsTot.vicms,total.icmsTot.vicmsDeson,total.icmsTot.vii,total.icmsTot.vipi,total.icmsTot.vnf,total.icmsTot.vpis,total.icmsTot.vst,versaoDocumento
0,24.90,"[{'nItem': '1', 'prod': {'indTot': '1', 'qCom'...",01.234.567/0001-89,1-650-933-4902,CA,,650 Castro St. unit 210,Mountain View,United States,TOTVS Labs,...,0.0,0.0,0.0,0.0,0.0,0.0,24.90,0.0,0.0,1.0
1,92.53,"[{'nItem': '1', 'prod': {'indTot': '1', 'qCom'...",01.234.567/0001-89,1-650-933-4902,CA,,650 Castro St. unit 210,Mountain View,United States,TOTVS Labs,...,0.0,0.0,0.0,0.0,0.0,0.0,92.55,0.0,0.0,1.0
2,57.86,"[{'nItem': '1', 'prod': {'indTot': '1', 'qCom'...",01.234.567/0001-89,1-650-933-4902,CA,,650 Castro St. unit 210,Mountain View,United States,TOTVS Labs,...,0.0,0.0,0.0,0.0,0.0,0.0,57.87,0.0,0.0,1.0
3,34.97,"[{'nItem': '1', 'prod': {'indTot': '1', 'qCom'...",01.234.567/0001-89,1-650-933-4902,CA,,650 Castro St. unit 210,Mountain View,United States,TOTVS Labs,...,0.0,0.0,0.0,0.0,0.0,0.0,34.98,0.0,0.0,1.0
4,46.23,"[{'nItem': '1', 'prod': {'indTot': '1', 'qCom'...",01.234.567/0001-89,1-650-933-4902,CA,,650 Castro St. unit 210,Mountain View,United States,TOTVS Labs,...,0.0,0.0,0.0,0.0,0.0,0.0,46.23,0.0,0.0,1.0
5,32.76,"[{'nItem': '1', 'prod': {'indTot': '1', 'qCom'...",01.234.567/0001-89,1-650-933-4902,CA,,650 Castro St. unit 210,Mountain View,United States,TOTVS Labs,...,0.0,0.0,0.0,0.0,0.0,0.0,32.76,0.0,0.0,1.0
6,57.11,"[{'nItem': '1', 'prod': {'indTot': '1', 'qCom'...",01.234.567/0001-89,1-650-933-4902,CA,,650 Castro St. unit 210,Mountain View,United States,TOTVS Labs,...,0.0,0.0,0.0,0.0,0.0,0.0,57.11,0.0,0.0,1.0

**Almost worked, but the 'dets' column is still nested. I believe that's because it's an array.**

In [5]:
#third try to flatten list: parse 'dets'
df2 = jnorm(dataset, 'dets')
df2

   nItem                                               prod
0      1  {'indTot': '1', 'qCom': 1.0, 'uCom': 'UN', 'vP...
1      2  {'indTot': '1', 'qCom': 0.312, 'uCom': 'KG', '...
2      1  {'indTot': '1', 'qCom': 1.218, 'uCom': 'KG', '...
3      2  {'indTot': '1', 'qCom': 2.0, 'uCom': 'UN', 'vP...
4      1  {'indTot': '1', 'qCom': 1.0, 'uCom': 'UN', 'vP...
5      2  {'indTot': '1', 'qCom': 0.778, 'uCom': 'KG', '...
6      1  {'indTot': '1', 'qCom': 0.51, 'uCom': 'KG', 'v...
7      1  {'indTot': '1', 'qCom': 0.674, 'uCom': 'KG', '...
8      1  {'indTot': '1', 'qCom': 0.412, 'uCom': 'KG', '...
9      2  {'indTot': '1', 'qCom': 1.0, 'uCom': 'UN', 'vP...
10     1  {'indTot': '1', 'qCom': 1.0, 'uCom': 'UN', 'vP...
11     2  {'indTot': '1', 'qCom': 0.716, 'uCom': 'KG', '...
12     3  {'indTot': '1', 'qCom': 1.0, 'uCom': 'UN', 'vP...

**Parsing only 'dets', the 'prod' column is still nested.**

In [6]:
#third try to flatten list: parse 'prod', inside ´dets'
df3 = jnorm(dataset, record_path = ['dets','nItem'], meta = [['dets','prod','indTot'],['dets','prod','qCom'],['dets','prod','uCom'],['dets','prod','vProd'],['dets','prod','vUnCom'],['dets','prod','xProd']], errors='ignore')
df3

,0,dets.prod.indTot,dets.prod.qCom,dets.prod.uCom,dets.prod.vProd,dets.prod.vUnCom,dets.prod.xProd
0,1,1,1.000,UN,3.50,3.5,AGUA
1,2,1,0.312,KG,21.40,68.6,BUFFET
2,1,1,1.218,KG,83.55,68.6,BUFFET
3,2,1,2.000,UN,9.00,4.5,REFRIGERANTE
4,1,1,1.000,UN,4.50,4.5,SUCO
5,2,1,0.778,KG,53.37,68.6,BUFFET
6,1,1,0.510,KG,34.98,68.6,BUFFET
7,1,1,0.674,KG,46.23,68.6,BUFFET
8,1,1,0.412,KG,28.26,68.6,BUFFET
9,2,1,1.000,UN,4.50,4.5,REFRIGERANTE
10,1,1,1.000,UN,3.50,3.5,AGUA
11,2,1,0.716,KG,49.11,68.6,BUFFET
12,3,1,1.000,UN,4.50,4.5,CERVEJA

**Was able to parse the 'dets' and 'prod' table, but separeted from the rest of the data frame.**

# I would like to get a full data frame, with all the data from the file. I read the pandas documentation about the subject [here](http://pandas.pydata.org/pandas-docs/version/0.17.0/generated/pandas.io.json.json_normalize.html) but did not undertand well, I think. Help?